name = "codequest-api"
main = "src/index.ts"
compatibility_date = "2025-01-01"
compatibility_flags = ["nodejs_compat"]

[ai]
binding = "AI"

[[d1_databases]]
binding = "DB"
database_name = "codequest-db"
database_id = "456fe19e-6087-4c7c-aa96-7baf0b40070a"
migrations_dir = "drizzle"
